*,
*::before,
*::after {
	box-sizing: border-box
}

* {
	margin: 0
}

a,
input,
button,
textarea,
select {
	font: inherit;
	border: none;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent
}

html {
	-webkit-text-size-adjust: none;
	touch-action: pan-y;
	background-color: #fff;
	font-family: 'Jost', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 16px
}

body {
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #000;
	min-height: 100vh;
	width: 100%;
	overflow-y: overlay;
	touch-action: pan-y
}

body.overlay {
	overflow: hidden;
	position: fixed
}

body.overlay-popup {
	overflow: hidden
}

.page-padding {
	padding: 0 20px 0 20px;
	max-width: 100vw
}

.page-padding.hide {
	display: none
}

#download-pane {
	min-width: 350px;
	max-width: 580px;
	padding: 30px 20px 20px 20px;
	margin: 16px 0 0 0;
	background-color: rgb(245, 245, 247);;
	border-radius: 20px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

#download-pane .filename {
	width: 100%;
	font-size: 22px;
	margin-bottom: 10px;
	word-break: break-word;
	line-height: 1.8;
	padding: 0 10px 0 10px
}

#download-pane .description {
	margin: 8px 0 0 0;
	font-size: 20px;
	word-break: break-word;
	padding: 0 10px 0 10px
}

#download-pane .description::after {
	display: block;
	content: '';
	width: 70px;
	height: 2px;
	margin: 18px auto 16px auto;
	background-color: rgba(255, 255, 255, 0.1)
}

#download-pane .graphic {
	width: 100px;
	height: 100px;
	margin: 30px auto 28px auto;
	background: no-repeat url("/assets/loading.gif") 0 0/100%;
	position: relative;
	user-select: none;
	-webkit-user-select: none
}

#download-pane .graphic .filetype {
	position: absolute;
	width: 81.5%;
	height: 36%;
	background-color: #ad3c3c;
	left: 0;
	bottom: 15.3%;
	border-radius: 8px;
	box-shadow: 0 3px rgba(0, 0, 0, 0.2);
	padding: 4px 4px 0 4px;
	font-weight: bold;
	font-size: 19px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

#download-pane .success {
	width: 100px;
	height: 100px;
	margin: 30px auto 28px auto;
	background: no-repeat url("/assets/success.png") 0 0/100%;
	position: relative;
	user-select: none;
	-webkit-user-select: none
}

#download-pane .info {
	width: 100%;
	font-size: 17px;
	line-height: 1.75
}

#download-pane .info .spacer {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 100%;
	margin: 0 10px 0 10px;
	transform: translateY(-1px)
}

#download-pane #folder-contents {
	border-radius: 12px;
	margin-top: 20px;
	margin-bottom: 36px;
	background-color: #07141f;
	box-shadow: inset 0 3px rgba(0, 0, 0, 0.2);
	text-align: left;
	max-height: 320px;
	overflow: hidden;
	overflow-y: auto;
	position: relative
}

#download-pane #folder-contents .item {
	position: relative;
	padding: 8px 8px 8px 12px;
	margin: 8px;
	line-height: 1.25;
	border-radius: 8px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent
}

#download-pane #folder-contents .item:hover {
	background-color: rgba(255, 255, 255, 0.05)
}

#download-pane #folder-contents .item .path {
	display: inline-block;
	max-width: calc(100% - 120px);
	color: rgba(255, 255, 255, 0.8);
	position: relative;
	word-break: break-word;
	font-size: 20px
}

#download-pane #folder-contents .item .flairs {
	white-space: nowrap;
	margin-top: 4px;
	margin-bottom: 2px
}

#download-pane #folder-contents .item .flairs .flair {
	display: inline-block;
	white-space: nowrap;
	font-size: 15px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5)
}

#download-pane #folder-contents .item .flairs .flairspacer {
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 100%;
	margin: 0 10px 0 10px;
	transform: translateY(-2px)
}

#download-pane #folder-contents .item .icon-link {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	top: 50%;
	transform: translateY(-50%);
	right: 12px;
	opacity: .4
}

#download-pane #folder-contents .item .icon-link:hover {
	opacity: .9
}

#download-pane #folder-contents .item .icon-link.download {
	-webkit-touch-callout: none
}

#download-pane #folder-contents .item .icon-link.download::after {
	content: '';
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 xml:space=%22preserve%22 style=%22fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2%22 viewBox=%220 0 512 512%22%3E%3Cpath d=%22M443.051 128.427 380.39 64.575C370.15 54.847 356.536 51.2 342.371 51.2H107.009C76.288 51.2 51.2 76.287 51.2 107.008v297.984c0 30.719 25.088 55.808 55.809 55.808h297.982c30.72 0 55.809-26.733 55.809-57.452V169.386c0-15.53-6.486-30.378-17.749-40.959Zm-75.129 159.118c-92.674 92.675-89.457 89.917-92.897 92.212-5.484 3.771-12.341 5.828-18.854 5.828h-.343c-8.912 0-17.484-3.771-23.996-9.942a3850304.29 3850304.29 0 0 1-87.755-88.098c-13.368-13.368-13.368-34.963-.001-48.334 13.37-13.37 34.966-13.37 48.335 0l29.137 29.139.172-101.299c0-19.197 15.426-34.28 34.28-34.28 19.196 0 34.28 15.083 34.28 34.28l-.173 101.299 29.48-29.481c12.828-12.827 34.698-13.636 48.335 0 13.369 13.369 13.369 35.308 0 48.676Z%22 style=%22fill:%23fff;fill-rule:nonzero%22 transform=%22matrix(1.25 0 0 1.25 -64 -64)%22/%3E%3C/svg%3E") 0 0/100%;
	left: 3px;
	top: 3px;
	opacity: .85;
	opacity: 1;
	transition: all .1s ease-in-out
}

#download-pane #folder-contents .item .icon-link.download::before {
	content: '';
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 xml:space=%22preserve%22 width=%22512%22 height=%22512%22 style=%22enable-background:new 0 0 512 512%22%3E%3Cpath fill=%22%23fff%22 d=%22M171.9 455.9C116 400 60.6 343.8 4.7 287.9c-6.2-6.2-6.2-16.4 0-22.6l64.4-64.4c6.2-6.2 16.4-6.2 22.6 0l91.9 91.9L420.2 56.1c6.2-6.2 16.4-6.2 22.6 0l64.5 64.4c6.2 6.3 6.2 16.4 0 22.6L194.5 455.9c-6.2 6.3-16.4 6.3-22.6 0z%22 data-original=%22%23000000%22/%3E%3C/svg%3E") 0 0/100%;
	left: 3px;
	top: 3px;
	opacity: .85;
	transition: all .3s ease-in-out;
	transition-delay: .3s;
	transform: scale(0)
}

#download-pane #folder-contents .item .icon-link.downloaded::after {
	transform: scale(0)
}

#download-pane #folder-contents .item .icon-link.downloaded::before {
	transform: scale(1)
}

#download-pane #folder-contents .item .icon-link.preview {
	background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 xml:space=%22preserve%22 width=%22512%22 height=%22512%22 style=%22enable-background:new 0 0 512 512%22 viewBox=%220 0 68 68%22%3E%3Cpath xmlns=%22http://www.w3.org/2000/svg%22 fill=%22%23fff%22 d=%22M63.376 50.671c-1.77-1.77-7.35-5.89-12.89-9.08-.06.09-.12.18-.18.28 6.25-10.07 5.02-23.48-3.73-32.23-10.2-10.19-26.73-10.19-36.93 0-10.2 10.21-10.19 26.73 0 36.93 8.67 8.66 21.9 9.97 31.94 3.91 2.89 5.02 7.1 10.91 9.09 12.9 3.5 3.5 9.2 3.49 12.7-.01 3.5-3.51 3.5-9.19 0-12.7zm-23.68-10.98c-6.4 6.39-16.76 6.39-23.16-.01-6.39-6.39-6.4-16.75 0-23.15 6.39-6.39 16.76-6.39 23.15 0 6.4 6.4 6.4 16.77.01 23.16z%22 data-original=%22%23000000%22/%3E%3C/svg%3E") 0 0/100%;
	background-size: 80%;
	background-position: 3px 3px;
	right: 52px
}

#download-pane #folder-contents .item.directory {
	padding: 10px 0 10px 44px;
	margin: 24px 0 0 0;
	cursor: auto
}

#download-pane #folder-contents .item.directory:first-child {
	margin-top: 4px
}

#download-pane #folder-contents .item.directory:hover {
	background-color: transparent
}

#download-pane #folder-contents .item.directory::after {
	content: '';
	position: absolute;
	display: block;
	width: 18px;
	height: 18px;
	background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 xml:space=%22preserve%22 width=%22512%22 height=%22512%22 style=%22enable-background:new 0 0 512 512%22 viewBox=%220 0 408 408%22%3E%3Cpath fill=%22%23fff%22 d=%22M372 88.661H206.32l-33-39.24a5.001 5.001 0 0 0-4-1.8H36c-19.956.198-36.023 16.443-36 36.4v240c-.001 19.941 16.06 36.163 36 36.36h336c19.94-.197 36.001-16.419 36-36.36v-199c.001-19.941-16.06-36.162-36-36.36z%22 data-original=%22%23000000%22/%3E%3C/svg%3E") 0 0/100%;
	left: 18px;
	top: 14px;
	opacity: .85;
	opacity: .5
}

#download-pane #folder-contents .item.directory .path {
	color: rgba(255, 255, 255, 0.5)
}

#download-pane #scroll-container {
	position: relative
}

#download-pane #scroll-container #scroll-more {
	position: absolute;
	display: block;
	width: 100%;
	bottom: 36px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.9);
	border-radius: 12px;
	padding: 18px 0 18px 0;
	background-color: rgba(0, 0, 0, 0.9);
	user-select: none;
	-webkit-user-select: none;
	pointer-events: none;
	opacity: 0;
	visibility: hidden
}

#download-pane #scroll-container #scroll-more.show {
	opacity: 1;
	visibility: visible
}

#download-pane #scroll-container #scroll-more.hide {
	transition: opacity .5s linear, visibility .5s linear;
	opacity: 0;
	visibility: hidden
}

#download-pane #download-info {
	display: inline-block;
	margin-top: 28px
}

#download-pane .buttons {
	margin-top: 15px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

#myInput {
	min-width: 70%;
}

.tooltip button {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	font-weight: 400;
	color: #fff;
	background-color: #0071e3; 
	border: none;
	border-radius: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	text-decoration: none;
}


.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  font-weight:500;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.container {
  	padding-right: 15px;
  	padding-left: 15px;
	display: flex;
	justify-content: center; 
	align-items: flex-start;  
	height: 100vh;
	padding-top: 15vh;           
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 1000px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container .col p {
  padding: .25rem .75rem;
}

.container .col h3 {
  padding-top: 5px;
}

.pt-30 {
	padding-top: 30px;
}

.simg {
	max-width:95%;
	margin-bottom:10px;
}
